# Dependencies
node_modules/
dist/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
*.tsbuildinfo

.vercel
.env*

# PocketBase
pocketbase.exe
pb_data/
pb_migrations/
